* {
    background-color: #E7E7E7;
    margin: 0px auto;
    padding: 0;
}

#banner1 {
    background-color: #E7E7E7;
    position: fixed;
    height: 40px;
}

.menu {
    background-color: #FF96BE;
    position: fixed;
    margin-top: 40px;
    height: 80px;
    width: 100%;
    color: #4E05C6;
    z-index: 2;
}

.menux {
    background-color: #FF96BE;
    position: fixed;
    color: #4E05C6;
    z-index: 1;
}
.bienvenida {
    width: 100%;
}
.botella {
    width: 100%;
    background-color: #EAE6F2 ;
}